<footer class="text-center mt-5">
    <p><%= __('footer_help') %> <a href="/help"><%= __('footer_help_filters') %></a></p>
    <code>API made by Kiara Mendoza García. For the KeepCoding Bootcamp.</code>
</footer>
</body>
</html>