<footer class="text-center mt-5">
    <p>If you want to know more about filters, go check <a href="/help">'filters'</a> page</p>
    <code>API made by Kiara Mendoza García. For the KeepCoding Bootcamp.</code>
</footer>
</body>
</html>