<% include partials/head.ejs %>
    <div class="container text-center">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <a href="/apiv1/ads">Go check the ads!</a>
    </div>
<% include partials/footer.ejs %>