<% include partials/head.ejs %>
<% include partials/header.ejs %>
    <div class="container page-container text-center">
      <h1><%= title %></h1>
      <p><%= __('home.title') %> <%= title %></p>
      <a href="/ads"><%= __('home.subtitle') %></a>
    </div>
<% include partials/footer.ejs %>