<% include partials/head.ejs %>
<% include partials/header.ejs %>
    <div class="container page-container text-center">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <a href="/ads">Go check the ads!</a>
    </div>
<% include partials/footer.ejs %>