body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.main-page .col {
  padding-bottom: 2rem;
}

.card-title {
  font-weight: bold;
  font-size: 1.1rem;
  padding-bottom: .3rem;
}

.card-price {
  font-weight: bold;
  font-size: .9rem;
}